<%= link_to 'Back to All Appointments', appointments_path %>

<%= form_for @appointment do |f| %>

<p>
  <%= f.label "User" %>
  <%= @user.name %>
</p>
<p> <%= f.label "Doctor:" %>
    <%= f.collection_select(:doctor_id, Doctor.all, :id, :name) %>
</p>
<p>
  <%= f.label "Appointment Type:" %>
  <%= f.collection_select(:appointment_type_id, AppointmentType.all, :id, :name) %>
</p>
<p>
  <%= f.label "Date:" %>
  <%= f.date_field :appointment_date %>
</p>
<p>
  <%= f.label "Notes:" %>
  <%= f.text_area :note %>
</p>
<p>
  <%= f.submit %>
</p>
  <% end %>
