<%= link_to 'Back to All Appointments', appointments_path %>

<%= form_for @appointment do |f| %>

<p> <%= f.label "Doctor:" %>
    <%= f.collection_select(:doctor_id, Doctor.all, :id, :name) %>
</p>
<p>
  <%= f.label "Date:" %>
  <%= f.date_field :appointment_date %>
</p>
<p>
  <%= f.submit %>
</p>
  <% end %>
