<div class="responsive-table">
  <h4>Appointment with <%= @doctor.name %></h4>
  <br>
  <p>For: <%= @user.name %> </p>
  <p>At: <%= @appointment.appointment_date.strftime("%d %b %Y") %></p>
  <p>Notes: <%= @appointment.note %></p>

<br>

  <p><%= link_to 'Edit', edit_appointment_path, :class=>'fade-btn' %></p>
  <p><%= link_to 'Delete', appointment_path, method: :delete, data: {confirm: "Are you sure you want to delete this appointment?"}, :class=>'fade-btn' %></p>
  <p><%= link_to 'Back', appointments_path, :class=>'fade-btn' %></p>

</div>
