<h4>Appointment with <%= @doctor.name %></h4>

  <p>For: <%= @user.name %> </p>

  <p>At: <%= @appointment.appointment_date %></p>

<h4>Notes from Appointment:</h4>
<p><%= @appointment.note %></p>

<p><%= link_to 'Edit this Appointment', edit_appointment_path, :class=>'fade-btn' %></p>

<p><%= link_to 'Back to all Appointments', appointments_path, :class=>'fade-btn' %></p>
