<h3>Appointment with <%= @doctor_id.name %>

  <p>At: <%= @appointment.appointment_date %></p>

<h3>Notes from Appointment:</h3>
<p><%= @note %></p>

<p><%= link_to 'Edit this Appointment', edit_appointment_path %></p>

<p><%= link_to 'Back to all Appointments', appointments_path %></p>
