<h2>Login:</h2>

<%= form_tag login_path do %>
  <%= label_tag :name%>
  <%= text_field_tag :name%>
  <br>
  <%= label_tag :password%>
  <%= password_field_tag :password%>
  <br>
  <%= submit_tag "Login" %>
<% end %>
<br>
  <p>Don't have an account?</p><%= link_to "Sign Up!", '/signup' %>
