<%= form_for @doctor do |f| %>

<p>  <%= f.label "Dr:" %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label "Speciality:" %>
  <%= f.text_field :speciality %>
</p>
<p>
  <%= f.label :post_code, "Post Code:" %>
  <%= f.text_field :post_code %>
</p>
<p>
  <%= f.submit 'Save', :class=>'fade-btn'%>
</p>
  <% end %>
<br>
<%= link_to 'Back to All Doctors', doctors_path, :class=>'fade-btn' %>
