<%= link_to 'Back to All Doctors', doctors_path %>

<%= form_for @doctor do |f| %>

<p>  <%= f.label "Name:" %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label "Speciality:" %>
  <%= f.text_field :speciality %>
</p>
<p>
  <%= f.label "Post Code:" %>
  <%= f.text_field :post_code %>
</p>
<p>
  <%= f.submit %>
</p>
  <% end %>
