<h3><%= @doctor.name %></h3>

<h4>Speciality:</h4>
  <p><%= @doctor.speciality %></p>

<h4>Post Code:</h4>
  <p><%= @doctor.post_code %></p>

<p><%= link_to 'Edit', edit_doctor_path, :class=>'fade-btn' %></p>

<p><%= link_to 'Delete', doctor_path, method: :delete, data: {confirm: "Are you sure you want to delete this doctor?"}, :class=>'fade-btn' %></p>

<p><%= link_to 'Back to all Doctors', doctors_path, :class=>'fade-btn' %></p>
