<div class="responsive-table">

  <h3><%= @doctor.name %></h3>

<br>

  <p><strong>Speciality | </strong><%= @doctor.speciality.split.map(&:capitalize).join(' ') %></p>
  <p><strong>Post Code | </strong><%= @doctor.post_code %></p>

<br>

  <p><%= link_to 'Edit', edit_doctor_path, :class=>'fade-btn' %></p>
  <p><%= link_to 'Back', doctors_path, :class=>'fade-btn' %></p>

</div>
