<h3>Dr. <%= @doctor.name %></h3>

<h4>Speciality:</h4>
  <p><%= @doctor.speciality %></p>

<h4>Post Code:</h4>
  <p><%= @doctor.post_code %></p>

<p><%= link_to 'Edit this Doctor', edit_doctor_path, :class=>'fade-btn' %></p>
<p><%= link_to 'Back to all Doctors', doctors_path, :class=>'fade-btn' %></p>
