<!DOCTYPE html>
<html>
  <head>
    <title>Medicly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>

  <body>
    <div class="responsive-table">
    <%= image_tag 'medicly.png', :size => '416x288' %><br>
    <%= session %>
    <%= session[:user_id] %>

    <% if session[:user_id] %>
      <%= button_to 'LOG OOOOT', logout_path %>
    <% end %>

    <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
          <p style="color: red;">
            <%= e %>
          </p>
        <% end %>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
