<!DOCTYPE html>
<html>
  <head>
    <title>Medicly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>

  <body>
    <!-- Navigation Bar -->
    <% if session[:user_id] %>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#161d2b;">
       <a class="navbar-brand" href="/home"><%= image_tag 'mediclylogo.png' %></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <a class="nav-link" style="color:#f9f2dc;" href="/users/<%= current_user.id %>">My Profile <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link" style="color:#f9f2dc;" href="/doctors">Doctors</a>
           </li>
           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" style="color:#f9f2dc;" href="/appointments" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Appointments
             </a>
             <div class="dropdown-menu" style="color:#161d2b;" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" style="color:#161d2b;" href="/appointments/new">Book an Appointment</a>
               <a class="dropdown-item" style="color:#161d2b;" href="/appointments">Appointments</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" style="color:#161d2b;" href="/general_appointment" value="1">General Check-ups</a>
               <a class="dropdown-item" style="color:#161d2b;" href="/vaccination" value="2">Vaccinations</a>
               <a class="dropdown-item" style="color:#161d2b;" href="/emergency" value="3">Emergency</a>
             </div>
           </li>
         </ul>

         <div class="logout">
           <%= button_to 'Log Out', logout_path, :class => "fade-btn" %>
         </div>
         <% end %>
       </div>
     </nav>

    <!-- End of Navigation Bar -->

    <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
          <p style="color: red;">
            <%= e %>
          </p>
        <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
