<h3><%= @patient.name %></h3>

<p><strong>Age: </strong><%= @patient.age %></p>

<p><strong>D.O.B: </strong> <%= @patient.birth_date %></p>

<p><strong>Gender: </strong> <%= @patient.gender %></p>

<p><strong>Allergies: </strong><%= @patient.allergies %></p>

<p><%= link_to 'Book an Appointment', new_appointment_path %></p>

<p><%= link_to 'Change your details', edit_patient_path %></p>
