
<div class="responsive-table">
<p><a class="navbar-brand" href="/home"><%= image_tag 'medicly.png', :size => '250x161'  %></a></p>
<h2>Sign up</h2><br>

<%= form_for @user, :url => '/signup' do |f| %>
  <p>
    <%= f.label :username, "Username:"%>
    <%= f.text_field :username%>
  </p>
  <p>
    <%= f.label :password, "Password:"%>
    <%= f.password_field :password%>
  </p>
  <p>
    <%= f.label :full_name, "Full Name:" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date_of_birth, "Date of Birth:" %>
    <%= f.date_field :birth_date %>
  </p>
  <p>
    <%= f.label "Gender:" %>
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label "Allergies (if any):" %>
    <%= f.text_field :allergies %>
  </p>
  <p>
    <%= f.submit "Sign Up", :class=>'fade-btn' %>
  </p>
<% end %>
<br>

  <p>Already have an account? <%= link_to "Login here", '/login', :class=>'fade-btn' %></p>

</div>
