<% if flash[:authorized] %>
      <p style="color: red;">
        <%= flash[:authorized]%>
      </p>
<% end %>

<h3>Name: <%= @user.name %></h3>

<p><strong>Age: </strong><%= ((Time.zone.now - @user.birth_date.to_time) / 1.year.seconds).floor %></p>

<p><strong>D.O.B: </strong> <%= @user.birth_date %></p>

<p><strong>Gender: </strong> <%= @user.gender %></p>

<p><strong>Allergies:</strong>
  <% if @user.allergies.length > 0 %>
 <%= @user.allergies %></p>
  <% else %>
  <%= "N/A" %>
  <% end %>

<p><%= link_to 'View Appointments', appointments_path, :class=>'fade-btn' %></p>

<p><%= link_to 'Book an Appointment', new_appointment_path, :class=>'fade-btn' %></p>

<p><%= link_to 'Change your Details', edit_user_path, :class=>'fade-btn' %></p>
